body {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.App {
    padding: 5%;
    text-align: center;
}

.right-button {
    cursor: pointer;
    float: right;
}

.list-item {
    display: inline-block;
}